*.env
.venv*
image_cache
ipynb-code/webdav_meta.json
py-code/image taging/__pycache__/*

webdav_meta.json
colors.csv
py-code/web-page/streamlit_app/main.py
*.DS_Store
py-code/web-page/__pycache__/psql_con.cpython-313.pyc
py-code/web-page/__pycache__/webdav_handler.cpython-313.pyc
py-code/web-page/__pycache__/search_func.cpython-313.pyc
